body
{
  
  /* background: #232323; */
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}


.words{
    text-align: center;
    padding-top: 200px;
}

@media only screen and (max-width: 600px) {
   .words {
       padding-top: 270px;
       
   }
 }
 .about{
   padding-left: 250px;
   padding-top: 30px;
   text-transform: uppercase;
 }
 span{
 
font-size: 4rem;
line-height: 1;
font-weight: 900;
color: rgba(61, 66, 85, 0.44);
display: inline-block;
text-transform: uppercase;
z-index: -1;
transform: translateY(-40%);
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
white-space: nowrap;
 }
 .wrap{
   padding-left: 250px;
   margin-right: 20px;
   float: left;
 }
  .wrp{
    padding-left: 50px;
   margin: 50px;
   z-index: 3;
 }
 .sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
body {
	font-family: Helvetica;
	-webkit-animation: pulse 10s infinite;
	animation: pulse 10s infinite;
	z-index: 1;
}

@-webkit-keyframes pulse {
	0% {
		background: #0a0a0a;
	}
	25% {
		background: #030303;
	}
	50% {
		background: #030303;
	}
	75% {
		background: #080808;
	}
	100% {
		background: #030303;
	}
}

@keyframes pulse {
	0% {
		background: #080808;
	}
	25% {
		background: #030303;
	}
	50% {
		background: #0a090a;
	}
	75% {
		background: #0d0c0e;
	}
	100% {
		background: #050505;
	}
}

.bubbles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	transform: translateZ(0);
}

.bubbles li {
	position: absolute;
	list-style: none;
	display: block;
	background-color: rgba(255, 255, 255, 0.15);
	bottom: -100px;
	animation: circle 15s infinite;
	transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
	width: 40px;
	height: 40px;
	left: 20%;
}

.bubbles li:nth-child(2) {
	width: 60px;
	height: 60px;
	left: 40%;
	animation-delay: 2s;
	animation-duration: 16s;
}

.bubbles li:nth-child(3) {
	width: 30px;
	height: 30px;
	left: 60%;
	animation-delay: 4s;
	animation-duration: 13s;
}

.bubbles li:nth-child(4) {
	width: 80px;
	height: 80px;
	left: 80%;
	animation-delay: 1s;
	animation-duration: 19s;
}

.bubbles li:nth-child(5) {
	width: 50px;
	height: 50px;
	left: 50%;
	animation-delay: 5s;
	animation-duration: 12s;
}

.bubbles li:nth-child(6) {
	width: 25px;
	height: 25px;
	left: 10%;
	animation-delay: 3s;
	animation-duration: 11s;
}

.bubbles li:nth-child(7) {
	width: 55px;
	height: 55px;
	left: 70%;
	animation-delay: 2.5s;
	animation-duration: 11s;
}

.bubbles li:nth-child(8) {
	width: 75px;
	height: 75px;
	left: 30%;
	animation-delay: 3.5s;
	animation-duration: 11s;
}

@keyframes circle {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-1080px) rotate(800deg);
		transform: translateY(-1080px) rotate(800deg);
	}
}


